N8N_NIGHTLY_SCOUT_WEBHOOK_URL=
N8N_NEXT_BATCH_WEBHOOK_URL=
N8N_RETRY_ITEM_WEBHOOK_URL=
N8N_HOLD_ITEM_WEBHOOK_URL=
N8N_SKIP_ITEM_WEBHOOK_URL=
N8N_WEBHOOK_SECRET=
AUTOMATION_STORAGE_ADAPTER=local-json
AUTOMATION_DATA_DIR=./data
